  
  /* Copyright 2022 The 'Future World Software Management' Authors. All rights reserved. */


  /* i(icon's) style */
  ic{
    color: black;
  }
  ih{
    color: red;
  }
  idd{
    color: blue;
  }
  is{
    color: rgb(162, 83, 236);
  }
  ia{
    color: red;
  }
  /* i(icon's) style End */
  